<ion-view view-title="Class">
	<ion-content>
		<img src="http://0.0.0.0:8000{{ class.image_url }}" style="width: 100%" />
		<div class="padding">
			<h2>{{ class.title }}</h2>
		</div>
		<div class="padding details--wrapper">
			<span class="details--item">Start: {{ class.start_hours | numberFixedLen:2 }}:{{ class.start_minutes | numberFixedLen:2 }}</span>

			<span class="details--item">{{ class.location }}</span>

			<span class="details--item last">{{ class.teacher }}</span>
		</div>
		<div class="padding">
			<button class="button button-full button-assertive">
  				I'm going to attend.
			</button>
		</div>

		<div class="tab-wrapper row">
			<div class="col tab-wrapper--tab" ng-class="{ 'tab-wrapper--active': tab === 'updates' }" >
				<button class="tab-wrapper--button" ng-click="tab='updates'">Updates</button>
			</div>
			<div class="col tab-wrapper--tab" ng-class="{ 'tab-wrapper--active': tab === 'details' }">
				<button class="tab-wrapper--button" ng-click="tab='details'">Details</button>
			</div>
		</div>

		<div class="padding" ng-show="tab==='details'">
			{{ class.content }}
		</div>
	</ion-content>
</ion-view>
