<ion-view view-title="Class">
	<ion-content overflow-scroll="true">
		<base-image src="{{ class.image_url }}"></base-image>
		<div class="padding">
			<h2>{{ class.title }}</h2>
		</div>
		<div class="padding details--wrapper">
			<span class="details--item">Start: {{ class.start_hours | numberFixedLen:2 }}:{{ class.start_minutes | numberFixedLen:2 }}</span>

			<span class="details--item">{{ class.location }}</span>

			<span class="details--item last">{{ class.teacher }}</span>
		</div>
		<div class="padding">
			<button ng-hide="isParticipating() === true" class="button button-full button-assertive" ng-click="attend();">
  				I'm going to attend.
			</button>

			<div ng-show="isParticipating() === true">
				<span ng-if="(sessions | filter: classFilter | orderBy: 'session_start' | limitTo: 1).length === 0">No sessions.</span>
				<button ng-hide="isCheckedIn(session) === true" class="button button-full button-assertive" ng-click="checkIn(session);" ng-repeat="session in sessions | filter: classFilter | orderBy: 'session_start' | limitTo: 1">
	  				Check in.
				</button>

				<button ng-show="isCheckedIn(session) === true" class="button button-full button-assertive" ng-repeat="session in sessions | filter: classFilter | orderBy: 'session_start' | limitTo: 1">
	  				You are checked in.
				</button>
			</div>
		</div>

		<!--{{ currentUser }}-->

		<div class="tab-wrapper row">
			<div class="col tab-wrapper--tab" ng-class="{ 'tab-wrapper--active': tab === 'updates' }" >
				<button class="tab-wrapper--button" ng-click="tab='updates'">Updates</button>
			</div>
			<div class="col tab-wrapper--tab" ng-class="{ 'tab-wrapper--active': tab === 'details' }">
				<button class="tab-wrapper--button" ng-click="tab='details'">Details</button>
			</div>
		</div>

		<div class="padding" ng-show="tab==='details'">
			{{ class.content }}
		</div>

		<div class="" ng-show="tab==='updates'">
			<ion-item ng-if="notifications.length === 0">
				<h2>No notifications.</h2>
			</ion-item>
			<div ng-repeat="session in sessions | filter: classFilter | orderBy: 'session_start' | limitTo: 1">
				<ion-item ng-repeat="article in notifications | filter: {{ ApplicationSettings.SERVER_URL }} + '/class-session/' + session.id + '/'" ui-sref="app.news-detail({ id: article.id })">
					<h2>{{article.text}}</h2>

					<br/>

					<div class="details--wrapper">
						<span class="details--item">{{ article.date_published | date: 'dd/MM/yyyy' }}</span>

						<span class="details--item last">{{ article.author }}</span>
					</div>
				</ion-item>
			</div>
		</div>
	</ion-content>
</ion-view>
