<ion-view view-title="News">
	<ion-nav-buttons side="secondary">
		<button class="button ion-plus-circled" ng-click="newsAddClick()">
		</button>
	</ion-nav-buttons>
	<ion-content class="no-top-padding">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list can-swipe="true">
			<base-image src="{{ brand.image_url }}"></base-image>

			<div class="padding">
				<h2 class="centre">{{ brand.title }}</h2>
				<div>

				</div>
			</div>

			<ion-item ng-repeat="article in news" ui-sref="app.news-detail({ id: article.id })" class="item-remove-animate">
				<span ng-if="article.new">New</span>
				<span class="tag float-right published" ng-if="article.published">Published</span>
				<span class="tag float-right draft" ng-if="!article.published">Draft</span>
				<h2>{{article.title}}</h2>

				<br/>

				<div class="details--wrapper">
					<span class="details--item">
						<span ng-if="!article.date_published">No published date</span>
						<span ng-bind="article.date_published | date: 'dd/MM/yyyy'"></span>
					</span>

					<span class="details--item last">{{ article.author }}</span>
				</div>

				<ion-option-button class="button-assertive"
					ng-click="deleteClick(article)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
