<ion-view view-title="Article">
	<ion-nav-buttons side="secondary">
		<button class="button" ui-sref="app.news-detail-edit({id: article.id })">Edit</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="padding">
			<h2>
				<span class="tag float-right published" ng-if="article.published">Published</span>
				<span class="tag float-right draft" ng-if="!article.published">Draft</span>
				{{article.title}}
			</h2>
			<br/>
			<div class="details--wrapper">
				<span class="details--item">{{ article.date_published | date: 'dd/MM/yyyy' }}</span>
				<span class="details--item last">{{ article.author }}</span>
			</div>
		</div>
		<br/>
		<base-image src="{{ article.image_url }}"></base-image>
		<div class="padding">
			{{ article.content }}
		</div>
	</ion-content>
</ion-view>
<!--  ng-show="article.author_id === currentUser.id"-->
