<ion-view view-title="Edit">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="newsSaveClick()">Save</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<label class="item item-input" for="headline" ng-click="clickFocus('#headline')" on-touch="clickFocus('#headline')">
				<input id="headline" type="text" ng-model="article.title" placeholder="Headline" />
			</label>
			<label class="item item-input" for="content" ng-click="clickFocus('#content')" on-touch="clickFocus('#content')">
				<textarea id="content" name="content" rows="7" placeholder="Story" ng-model="article.content"></textarea>
			</label>
			<ion-toggle ng-click="onPublishedChange()" ng-model="article.published" toggle-class="toggle-assertive">Published</ion-toggle>
			<label class="item item-input" ng-disabled="!article.published" ng-click="clickFocus('#date-published')" on-touch="clickFocus('#date-published')">
				<span class="input-label">Published date</span>
				<input type="date" id="date-published" ng-model="article.date_published" ng-disabled="!article.published"/>
			</label>
		</div>
	</ion-content>
</ion-view>
